---
layout: cirrus/home/default

heading-title: Emergency Contacts
---


<form class="form-horizontal">

  {% include components/molecules/input-field-horizontal.html 
    label="Contact Name"
    name="Contact Name"
    type="text"
    placeholder="Enter Contact Name"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
    isRequired="form-required"
  %}

  {% include components/molecules/checkbox-horizontal.html 
    label="Priority"
    name="priority"
    input-size="col-sm-5 col-md-4 col-sm-push-3 col-md-push-2"
  %}

  {% include components/molecules/select-field-horizontal.html 
    label="Relationship"
    name="relationship"
    placeholder="Select Relationship"
    list-value-name=site.data.list-value.emergency-contact-relationship
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
    isRequired="form-required"
  %}

  {% include components/molecules/input-field-horizontal.html 
    label="Mobile Phone"
    name="mobile-phone"
    type="tel"
    placeholder="Enter Mobile Phone"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
    isRequired="form-required"
  %}

  {% include components/molecules/input-field-horizontal.html 
    label="Work Phone"
    name="work-phone"
    type="tel"
    placeholder="Enter Work Phone"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/input-field-horizontal.html 
    label="Home Phone"
    name="home-phone"
    type="tel"
    placeholder="Enter Home Phone"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/input-field-horizontal.html 
    label="Email Address"
    name="email-address"
    type="email"
    placeholder="Enter Email Address"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/textarea-field-horizontal.html 
    label="Address"
    name="address"
    placeholder="Enter Address"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/select-field-horizontal.html 
    label="Country"
    name="country"
    placeholder="Select Country"
    list-value-name=site.data.list-value.country
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/textarea-field-horizontal.html 
    label="Description"
    name="description"
    placeholder="Enter Description"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  <hr class="dashed" />
  
  <div class="row">
    <div class="col-sm-3 col-md-2"></div>
    <div class="col-sm-5 col-md-4">
      <button type="submit" class="btn btn-primary btn-wide">Save</button> 
    </div>
  </div>

</form>
