---
layout: cirrus/home/default

heading-title: Name Change Request
---


<form class="form-horizontal">

  <p class="lead">Change Reason &amp; Documentation</p>

  <fieldset class="form-group form-required">
    <label class="col-sm-3 col-md-2 control-label" for="">Reason for Name Change</label>
    <div class="col-sm-5 col-md-4">
      <select class="form-control" name="" id="">
        <option value="" selected="" disabled="">Select Reason for Name Change</option>
        <option value="">Marital Status Change</option>
        <option value="">Deed Poll</option>
      </select>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label class="col-sm-3 col-md-2 control-label" for="">Attach Supporting Documentation</label>
    <div class="col-sm-5 col-md-4">
      <input type="file" class="form-control">
    </div>
  </fieldset>

  <hr class="dashed" />

  <p class="lead">Change Details</p>

  <fieldset class="form-group form-required">
    <label class="col-sm-3 col-md-2 control-label" for="">Last Name</label>
    <div class="col-sm-5 col-md-4">
      <input type="text" class="form-control" placeholder="Enter Last Name">
    </div>
  </fieldset>

  <fieldset class="form-group form-required">
    <label class="col-sm-3 col-md-2 control-label" for="">First Name</label>
    <div class="col-sm-5 col-md-4">
      <input type="text" class="form-control" placeholder="Enter First Name">
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label class="col-sm-3 col-md-2 control-label" for="">Second Name</label>
    <div class="col-sm-5 col-md-4">
      <input type="text" class="form-control" placeholder="Enter Second Name">
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label class="col-sm-3 col-md-2 control-label" for="">Preferred Name</label>
    <div class="col-sm-5 col-md-4">
      <input type="text" class="form-control" placeholder="Enter Preferred Name">
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label class="col-sm-3 col-md-2 control-label" for="">Previous Name</label>
    <div class="col-sm-5 col-md-4">
      <p class="form-control-static">Lepardo</p>
    </div>
  </fieldset>

  {% include components/molecules/select-field-horizontal.html 
    label="Title"
    name="title"
    placeholder="Select Title"
    list-value-name=site.data.list-value.salutation
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/select-field-horizontal.html 
    label="Marital Status"
    name="marital-status"
    placeholder="Select Marital Status"
    list-value-name=site.data.list-value.marital-status
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  <hr class="dashed" />
  
  <div class="row">
    <div class="col-sm-3 col-md-2"></div>
    <div class="col-sm-5 col-md-4">
      <button type="submit" class="btn btn-primary btn-wide">Save</button>
    </div>
  </div>

</form>
