---
layout: bevchain/home/default
---

<div class="carousel slide carousel-fade" id="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#carousel"></li>
    <li data-slide-to="1" data-target="#carousel"></li>
    <li data-slide-to="2" data-target="#carousel"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      {% include components/atoms/image.html
        class=""
        src="https://dummyimage.com/5:1x1075/E4E4E4/000000.png&text=+"
        alt="First slide"
        width="100%"
        height=""
      %}
      <div class="carousel-caption">
        <h3>.carousel-caption h3</h3>
        <p>Paragraph</p>
      </div>
    </div>
    <div class="item">
      <a href="#">
        {% include components/atoms/image.html
          class=""
          src="https://dummyimage.com/5:1x1075/D8D8D8/000000.png&text=+"
          alt="Second slide"
          width="100%"
          height=""
        %}
      </a>
    </div>
    <div class="item">
      <a href="#">
        {% include components/atoms/image.html
          class=""
          src="https://dummyimage.com/5:1x1075/BEBEBE/000000.png&text=+"
          alt="Third slide"
          width="100%"
          height=""
        %}
      </a>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" data-slide="prev" href="#carousel">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" data-slide="next" href="#carousel">
    <span class="icon-next"></span>
  </a>
</div>

  <hr class="dashed">


  <div class="row">
    <div class="col-md-5">

      <div class="row" id="featured-news">
        <div class="col-md-7">
          <img class="" src="https://dummyimage.com/16:9x1080/BEBEBE/000000.png&text=+" alt="Third slide" width="100%" height="" />
          <h6 class="heading-title">Test</h6>
          <p class="heading-subtitle">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
        </div>
        <div class="col-md-5">
          <ul id="">
            <li>
              <a href="">
                <p>Test</p>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
              </a>
            </li>
            <li>
              <a href="">
                <p>Test</p>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
              </a>
            </li>
            <li>
              <a href="">
                <p>Test</p>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="panel panel-default" id="notification-panel">
        <div class="panel-heading">
          <h6 class="panel-title">Notification</h6>
        </div>
        <div class="list-group">
          <a class="list-group-item" href="#">
            <p class="list-group-item-heading">Workflow Inbox</p>
            <p class="list-group-item-text">You have 8 workflow action(s) awaiting your attention.</p>
          </a>
          <a class="list-group-item" href="#">
            <p class="list-group-item-heading">Login Delegation</p>
            <p class="list-group-item-text">Admin1, One has delegated their login credentials to you.<br>Username : admin1<br>Password : (YOUR system Login Password)</p>
          </a>
          <a class="list-group-item" href="#">
            <p class="list-group-item-heading">Team Delegation</p>
            <p class="list-group-item-text">Admin1, One has delegated their Team view to you. Extended visibility of employee information is available from the Indirect Reports.</p>
          </a>
          <a class="list-group-item" href="#">
            <p class="list-group-item-heading">Workflow Delegation</p>
            <p class="list-group-item-text">Admin1, One has delegated their workflow activities to you. Workflow activities are accessible for action by you in your workflow inbox.</p>
          </a>
        </div>
        <div class="panel-footer">
          <a href="">See All Notifcation</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <p class="lead">Quick Links</p>
      <ul class="list list-unstyled">
        <li>
          <a class="media" href="">
            <div class="media-left">
              {% include components/atoms/image.html
                class="media-object"
                src="/App_Themes/ecBevChainEx/Images/quick-links-icon/home-base.png"
                alt=""
                width="32"
                height="32"
              %}
            </div>
            <div class="media-body media-middle">Home Base</div>
          </a>
        </li>
        <li>
          <a class="media" href="">
            <div class="media-left">
              {% include components/atoms/image.html
                class="media-object"
                src="/App_Themes/ecBevChainEx/Images/quick-links-icon/workflow-inbox.png"
                alt=""
                width="32"
                height="32"
              %}
            </div>
            <div class="media-body media-middle">Workflow Inbox</div>
          </a>
        </li>
        <li>
          <a class="media" href="">
            <div class="media-left">
              {% include components/atoms/image.html
                class="media-object"
                src="/App_Themes/ecBevChainEx/Images/quick-links-icon/hr-forms.png"
                alt=""
                width="32"
                height="32"
              %}
            </div>
            <div class="media-body media-middle">HR Forms</div>
          </a>
        </li>
        <li>
          <a class="media" href="">
            <div class="media-left">
              {% include components/atoms/image.html
                class="media-object"
                src="/App_Themes/ecBevChainEx/Images/quick-links-icon/faq.png"
                alt=""
                width="32"
                height="32"
              %}
            </div>
            <div class="media-body media-middle">FAQs</div>
          </a>
        </li>
        <li>
          <a class="media" href="">
            <div class="media-left">
              {% include components/atoms/image.html
                class="media-object"
                src="/App_Themes/ecBevChainEx/Images/quick-links-icon/homesafe.png"
                alt=""
                width="32"
                height="32"
              %}
            </div>
            <div class="media-body media-middle">HomeSafe</div>
          </a>
        </li>
        <li>
          <a class="media" href="">
            <div class="media-left">
              {% include components/atoms/image.html
                class="media-object"
                src="/App_Themes/ecBevChainEx/Images/quick-links-icon/helpdesk-support.png"
                alt=""
                width="32"
                height="32"
              %}
            </div>
            <div class="media-body media-middle">Help Desk/Support</div>
          </a>
        </li>
      </ul>
    </div>
  </div>