<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- <button class="navbar-toggle" type="button">
      <span style="margin: 6px 2px;display: block;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </span>
    </button> -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}{{ layout.base-url }}onboarding/">
        <img src="{{ site.baseurl }}/App_Themes/{{ layout.base-theme }}/Images/logos/header-logo.png" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="">Our People</a>
        </li>
        <li>
          <a href="">Our Culture</a>
        </li>
        <li>
          <a href="">Find a Job</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




  
