<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- <button class="navbar-toggle" type="button">
      <span style="margin: 6px 2px;display: block;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </span>
    </button> -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}{{ layout.base-url }}">
        <img class="" src="{{ site.baseurl }}/App_Themes/{{ layout.base-theme }}/Images/logos/header-logo.png" alt="" width="" height="" />
      </a>
    </div>
    <div class="dropdown" id="navbar-user-menu">
      <a class="media ripple" data-toggle="dropdown" data-ripple-color="#C6CDD7" href="{{ site.baseurl }}/login.html">
        <div class="media-left">
          {% include components/atoms/image.html
            class="media-object img-circle"
            src="/Images/avatar.png"
            alt=""
            width="32"
            height="32"
          %}
        </div>
        <div class="media-body media-middle">
          <span class="user-profile-name">Jasper Lepardo</span>
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="{{ site.baseurl }}/login.html"><i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>