//
// Wizard
// --------------------------------------------------


// Base class
// --------------------------------------------------

.wizard {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;
}


.wizard-default {

  .wizard-item {
    &::before {
      background-color: $ec-gray-300;
    }

    &.active,
    &.visited,
    &.completed {
      .wizard-link {
        &,
        &:hover,
        &:focus {
          color: $wizard-default-link-hover-color;
        }
      }
    }

  }

  .wizard-indicator {
    background-color: $ec-gray-200;
    color: $ec-gray-800;
  }

  .wizard-link {
    color: $wizard-default-link-color;
    &:hover,
    &:focus {
      color: $wizard-default-link-hover-color;
    }
  }

}

.wizard-inverse {

  .wizard-item {
    &::before {
      background-color: #3B4856;
    }

    &.active,
    &.visited,
    &.completed {
      .wizard-link {
        &,
        &:hover,
        &:focus {
          color: $wizard-inverse-link-hover-color;
        }
      }
    }
  }

  .wizard-indicator {
    background-color: #313B47;
    color: $ec-gray-100;
  }

  .wizard-link {
    color: $wizard-inverse-link-color;
    &:hover,
    &:focus {
      color: $wizard-inverse-link-hover-color;
    }
  }
}





.wizard-item {
  position: relative;
  display: block;

  &::before {
    content: "";
    display: block;
    position: relative;
  }

  &:first-child::before {
    display: none;
  }

  &.active {
    .wizard-indicator {
      background-color: #4CADCF;
    }
  }

  &.success {
    .wizard-indicator {
      background-color: #57C1A5;
    }
  }

  &.pending {
    .wizard-indicator {
      background-color: #F58220;
    }
  }

  &.failed {
    .wizard-indicator {
      background-color: #E11E3C;
    }
  }

}









.wizard-link {
  position: relative;
  display: block;
  padding: $wizard-link-padding;

  // color: $wizard-link-color;

  // font-size: 16px;
  // font-weight: 500;

  &:hover,
  &:focus {
    text-decoration: none;
    @include transition (all .1s ease-in-out);
  }
}

// Disabled state sets text to gray and nukes hover/tab effects
// &.disabled .wizard-link {
//   color: $wizard-disabled-link-color;
//   &:hover,
//   &:focus {
//     color: $wizard-disabled-link-hover-color;
//     text-decoration: none;
//     background-color: transparent;
//     cursor: $cursor-disabled;
//   }
// }

.wizard-indicator {
  position: absolute;
  display: inline-block;
  border-radius: 9999px;
  text-align: center;
  z-index: 1;
}










.wizard-tab {

  .wizard-item {
    float: left;
    text-align: center;
    width: 25%;

    &::before {
      position: absolute;
      top: 10px;
      width: 100%;
      height: 4px;
      left: -50%;
    }

    &.active,
    &.success,
    &.pending,
    &.failed {
      &::before {
        background-color: #57C1A5;
      }
    }

    &.success,
    &.failed {

      .wizard-indicator {
        color: $ec-gray-100;

        &::before {
          font-family: "FontAwesome";
          position: absolute;
          left: 0px;
          width: 24px;
          height: 24px;
          line-height: 24px;
          font-size: 12px;
          text-align: center;
        }

      }

    }

    &.success .wizard-indicator::before {
      content: "\f00c";
    }

    &.failed .wizard-indicator::before {
      content: "\f00d";
    }
  }

  .wizard-link {
    padding: 36px 8px 12px;
  }

  .wizard-indicator {
    top: 0;
    right: calc(50% - 12px);
    width: 24px;
    height: 24px;
    border-width: 4px;
  }

}










// Justified wizard links
// -------------------------

.wizard-justified {
  width: 100%;

  .wizard-item {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 4px;
    }
  }

  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

















.wizard-stacked {

  .wizard-item {
    &::before {
      width: 4px;
      height: 16px;
      left: 18px;
    }
  }

  .wizard-link {
    line-height: 24px;
    padding-left: 56px;
  }

  .wizard-indicator {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    padding: 8px;
  }

}




















.wizard-lg > .wizard-item > .wizard-link {
  font-size: $font-size-lg;
}