---
layout: cirrus/home/default

heading-title: Good <span id="greetings">&nbsp;</span>, Jasper!
---

<div class="row">
  <div class="col-sm-6 col-lg-4 col-xl-3">
    <div class="panel panel-primary shadow-8">
      <div class="panel-heading" style="background-color: #496683;">
        <h1 class="panel-title h4" id="clock">&nbsp;<span id="timeOfDay">&nbsp;</span></h1>
        <span id="day">&nbsp;</span>
      </div>
      <div class="panel-body">
        <div class="pull-right">
          <a href="">View Calendar</a>
        </div>
        <p><b>On Leave</b></p>
        <div class="pull-right">
          <a class="btn btn-default btn-xs btn-wide" href=""><i class="fa fa-angle-left"></i></a>
          <a class="btn btn-default btn-xs btn-wide" href=""><i class="fa fa-angle-right"></i></a>
        </div>
        <p>Today</p>
        <div>
          <ul class="list list-inline">
            <li>
              {% include components/atoms/image.html
                class="img-circle"
                src="/Images/team/alexi-gavrielatos.jpg"
                alt=""
                width="32"
                height="32"
              %}
            </li>
            <li>
              {% include components/atoms/image.html
                class="img-circle"
                src="/Images/team/ari-kopoulos.jpg"
                alt=""
                width="32"
                height="32"
              %}
            </li>
            <li>
              {% include components/atoms/image.html
                class="img-circle"
                src="/Images/team/craig-mcdonald.jpg"
                alt=""
                width="32"
                height="32"
              %}
            </li>
            <li>
              {% include components/atoms/image.html
                class="img-circle"
                src="/Images/team/dean-micallef.jpg"
                alt=""
                width="32"
                height="32"
              %}
            </li>
            <li>
              {% include components/atoms/image.html
                class="img-circle"
                src="/Images/team/emmer-benito.jpg"
                alt=""
                width="32"
                height="32"
              %}
            </li>
            <li>
              {% include components/atoms/image.html
                class="img-circle"
                src="/Images/team/jasper-lepardo.jpg"
                alt=""
                width="32"
                height="32"
              %}
            </li>
            <li>
              {% include components/atoms/image.html
                class="img-circle"
                src="/Images/team/lynn-roese.jpg"
                alt=""
                width="32"
                height="32"
              %}
            </li>
            <li>
              {% include components/atoms/image.html
                class="img-circle"
                src="/Images/team/paul-thompson.jpg"
                alt=""
                width="32"
                height="32"
              %}
            </li>
            <li>
              {% include components/atoms/image.html
                class="img-circle"
                src="/Images/team/punit-kanani.jpg"
                alt=""
                width="32"
                height="32"
              %}
            </li>
            <li>
              {% include components/atoms/image.html
                class="img-circle"
                src="/Images/team/reno-gianitto.jpg"
                alt=""
                width="32"
                height="32"
              %}
            </li>
            <li>
              {% include components/atoms/image.html
                class="img-circle"
                src="/Images/team/sam-macdonald.jpg"
                alt=""
                width="32"
                height="32"
              %}
            </li>
            <li><a href="">+15</a></li>
          </ul>
        </div>
        <hr class="dashed" />
        <p><b>Celebrations</b></p>
        <ul class="list list-unstyled">
          <li>
            <div class="media">
              <div class="media-left">
                {% include components/atoms/image.html
                  class="img-circle media-object"
                  src="/Images/team/jasper-lepardo.jpg"
                  alt=""
                  width="32"
                  height="32"
                %}
              </div>
              <div class="media-content media-middle">
                Jasper Lepardo
              </div>
              <div class="media-right media-middle">
                <span class="text-primary">
                  <span style="white-space: nowrap">Birthday</span>
                </span>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="media-left">
                {% include components/atoms/image.html
                  class="img-circle media-object"
                  src="/Images/team/jasper-lepardo.jpg"
                  alt=""
                  width="32"
                  height="32"
                %}
              </div>
              <div class="media-content media-middle">
                Jasper Lepardo
              </div>
              <div class="media-right media-middle">
                <span class="text-primary">
                  <span style="white-space: nowrap">First Day at Work</span>
                </span>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="media-left">
                {% include components/atoms/image.html
                  class="img-circle media-object"
                  src="/Images/team/jasper-lepardo.jpg"
                  alt=""
                  width="32"
                  height="32"
                %}
              </div>
              <div class="media-content media-middle">
                Jasper Lepardo
              </div>
              <div class="media-right media-middle">
                <span class="text-primary">
                  <span style="white-space: nowrap">1st Anniversary</span>
                  
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        <a href="">View All Team</a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title">Leave</h6>
        <a href="">Apply for Leave</a>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="">16 hours</a><br/>
          <span>14-03-2018 to 15-03-2018</span><br/>
          <span>Annual</span>
        </li>
      </ul>
      <div class="panel-body">
        <p><b>Leave Balance</b></p>
        <div class="row item">
          <div class="col-xs-6 text-muted">Annual</div>
          <div class="col-xs-6 text-right">69.67 day</div>
        </div>
        <div class="row item">
          <div class="col-xs-6 text-muted">Long Service</div>
          <div class="col-xs-6 text-right">0.00 day</div>
        </div>
        <div class="row item">
          <div class="col-xs-6 text-muted">Sick</div>
          <div class="col-xs-6 text-right">46.33 day</div>
        </div>
        <div class="row">
          <div class="col-xs-6 text-muted">TIL</div>
          <div class="col-xs-6 text-right">-7.36 hour</div>
        </div>
      </div>
      <div class="panel-footer">
        <a href="">View Leave Balance</a>
      </div>
    </div>

  </div>
</div>