---
layout: bevchain/default

side-menu-index: home
side-menu-icon: home
side-menu-heading-title: Home
side-menu:
- title: My Activities
  icon: th-large-3
  name: my-activities
  sub-menu:
  - title:
    menuitems:
    - text: Workflow Active
      icon: shuffle-3
      url: 
    - text: Workflow History
      icon: archive
      url:
    - text: Leave Request
      icon: suitcase
      url:
  - title: Manager
    menuitems:
    - text: Leave Approval
      icon: ok-circled-2
      url: 
  - title: Admin / Payroll
    menuitems:
    - text: Leave Validate
      icon: progress-11
      url:
    - text: Bulk Update
      icon: box
      url:
    - text: Change Request Validate
      icon: progress-0 
      url:
- title: Company
  icon: building
  name: company
  sub-menu:
  - title:
    menuitems:
    - text: Notice Board
      icon: desktop
      url:
    - text: About BevChain
      icon: map
      url: 
    - text: Featured News
      icon: bell-alt
      url: 
    - text: HomeSafe
      icon: shield
      url: 
    - text: Job Opportunities
      icon: dot-circled
      url: 
    - text: Documents
      icon: doc-7
      url:
    - text: Search Documents
      icon: search-8
      url:
    - text: Support
      icon: phone-outline
      url:
- title: People &amp; Places
  icon: list
  name: people-and-places
  sub-menu:
  - title:
    menuitems:
    - text: Company Directory
      icon: address-book
      url: people-and-places/company-directory/
    - text: Organisation Chart
      icon: flow-tree
      url:
    - text: BevChain Sites
      icon: building
      url: people-and-places/sites/
    - text: BevChain Departments
      icon: cube
      url: people-and-places/departments/
- title: Personal
  icon: leaf
  name: personal
  sub-menu:
  - title:
    menuitems:
    - text: Biographical
      icon: child
      url: personal/biographical.html
    - text: Personal Info Change Request
      icon: inbox-alt
      url: personal/personal-info-change-request.html
    - text: Name Change Request
      icon: inbox-alt
      url: personal/name-change-request.html 
    - text: Additional Contact/Address
      icon: plus
      url: 
    - text: Emergency Contact
      icon: lifebuoy
      url: personal/emergency-contact.html 
    - text: Dependants
      icon: school
      url: personal/dependants.html 
    - text: Nationality
      icon: globe-6
      url: personal/nationality.html 
    - text: Medical
      icon: medkit
      url: personal/medical.html 
    - text: EEO Change Request
      icon: inbox-alt
      url: 
    - text: Photo
      icon: camera-3
      url:  
- title: Resume
  icon: note
  name: resume
  sub-menu:
  - title:
    menuitems:
    - text: Education
      icon: graduation-cap-1 
      url: 
    - text: Language
      icon: address 
      url: 
    - text: Professional Membership
      icon: empire 
      url: 
    - text: Licence
      icon: cab 
      url: 
    - text: Prior Working Experience
      icon: puzzle 
      url: 
    - text: Curriculum Vitae
      icon: news 
      url: 
    - text: File Attachment
      icon: attach-7 
      url: 
- title: Employment
  icon: briefcase
  name: employment
  sub-menu:
  - title:
    menuitems:
    - text: Agreement
      icon: pencil-1 
      url: 
    - text: Employment History
      icon: archive 
      url: 
    - text: Position Assignment
      icon: right-5 
      url: 
    - text: Commentary
      icon: comment-4 
      url: 
    - text: Property
      icon: laptop 
      url: 
    - text: Vehicle Assignment
      icon: cab 
      url: 
    - text: Grievance
      icon: sound-1 
      url: 
    - text: Resignation
      icon: logout 
      url: 
    - text: Update Directory
      icon: address-book
      url: 
- title: Payment
  icon: money-1
  name: payment
  sub-menu:
  - title:
    menuitems:
    - text: Salary
      icon: dollar 
      url: 
    - text: Banking
      icon: bank 
      url: 
    - text: Bank Change Request
      icon: inbox-alt
      url: 
    - text: Bank History
      icon: archive 
      url: 
    - text: Superannuation
      icon: blind 
      url: 
    - text: Superannuation Change Request
      icon: blind 
      url: 
    - text: Expense Claim
      icon: dollar-1 
      url: 
- title: Leave
  icon: calendar-2
  name: leave
  sub-menu:
  - title:
    menuitems:
    - text: Apply for Leave
      icon: pencil-alt
      url: leave/apply-for-leave.html
    - text: Peer Calendar
      icon: calendar 
      url: 
    - text: Leave Requests
      icon: inbox-alt
      url: 
    - text: Cancel Leave
      icon: cancel-alt
      url: 
    - text: Leave History
      icon: layers 
      url: 
    - text: Leave Balance
      icon: calc 
      url: 
---

{{ content }}