---
layout: cirrus/default

side-menu-header: Manager

side-menu-icon: user-1

side-menu-index: manager

side-menu:
- title: Personal
  icon: leaf-1
  name: personal
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
- title: Resume
  icon: note 
  name: resume
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
- title: Life Cycle
  icon: cw-5
  name: life-cycle
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
- title: Employment
  icon: briefcase 
  name: employment
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
- title: Payment
  icon: money-1 
  name: payment
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
- title: Leave
  icon: calendar-2 
  name: leave
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
- title: Time &amp; Attendance
  icon: stopwatch 
  name: time-and-attendance
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
- title: Communication
  icon: chat 
  name: communication
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
- title: Development
  icon: wind-1
  name: development
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
- title: Recruitment
  icon: spread 
  name: recruitment
  sub-menu:
  - title:
    menuitems:
    - text: Managed Positions
      icon: baseball 
      url: recruitment/managed-positions.html
  - title: Requests
    menuitems:
    - text: New Recruitment Request
      icon: inbox-alt
      url: 
    - text: Submitted Requests
      icon: inbox-4
      url: 
    - text: Saved Requests
      icon: floppy 
      url: 
  - title: Applicants
    menuitems:
    - text: Applicant Dashboard
      icon: gauge-1 
      url: 
    - text: Interviews
      icon: pin-2 
      url: 
    - text: Interview Calendar
      icon: calendar 
      url: 
    - text: Offers
      icon: link 
      url: 
- title: Talent
  icon: star-7
  name: talent
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
- title: Performance
  icon: chart-line-1 
  name: performance
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
- title: Remuneration
  icon: money-2
  name: remuneration
  sub-menu:
  - title:
    menuitems:
    - text: 
      icon: 
      url: 
---

{{ content }}