---
layout: cirrus/home/default

heading-title: Leave Request
---

<form class="form-horizontal">

  {% include components/molecules/select-field-horizontal.html 
    label="Leave Type"
    name="leave-type"
    placeholder="Select Leave Type"
    list-value-name=site.data.list-value.leave-type
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
    isRequired="form-required"
  %}

  {% include components/molecules/datepicker-horizontal.html 
    label="Start Date"
    name="start-date"
    type="text"
    placeholder="Enter Start Date"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
    isRequired="form-required"
  %}

  {% include components/molecules/datepicker-horizontal.html 
    label="End Date"
    name="end-date"
    type="text"
    placeholder="Enter End Date"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
    isRequired="form-required"
  %}

  {% include components/molecules/select-field-horizontal.html 
    label="Leave Unit"
    name="leave-unit"
    placeholder="Select Leave Unit"
    list-value-name=site.data.list-value.leave-unit
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
    isRequired="form-required"
  %}

  {% include components/molecules/input-field-horizontal.html 
    label="Leave Taken"
    name="leave-taken"
    type="number"
    placeholder="Enter Leave Taken"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
    isRequired="form-required"
  %}

  {% include components/molecules/textarea-field-horizontal.html 
    label="Comments"
    name="comments"
    placeholder="Enter Comments"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/checkbox-horizontal.html 
    label="Pay in advance"
    name="pay-in-advance"
    input-size="col-sm-5 col-md-4 col-sm-push-3 col-md-push-2"
  %}

  {% include components/molecules/checkbox-horizontal.html 
    label="Certificate Provided"
    name="certificate-provided"
    input-size="col-sm-5 col-md-4 col-sm-push-3 col-md-push-2"
  %}

  {% include components/molecules/input-field-horizontal.html 
    label="Attachement"
    name="attachement"
    type="file"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/static-field-horizontal.html 
    label="Sumitted"
    text="Display Current Date"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}
  
  <hr class="dashed" />
  
  <div class="row">
    <div class="col-sm-5 col-sm-push-3 col-md-4 col-md-push-2">
      <button type="submit" class="btn btn-success btn-wide">Submit</button>
    </div>
  </div>


</form>