---
layout: base

theme: ecCirrusEx

side-menu-header: Design System

side-menu-icon: cog-alt

side-menu-index: design-system

side-menu:
- title: Foundations
  menuitems:
  - text: Color
    url: css/color.html
  - text: Iconography
    url: css/iconography.html
  - text: Typography
    url: css/typography.html
  - text: Utitlities
    url: css/utitlities.html
- title: Components
  menuitems:
  - text: Accordion
    url: components/accordion.html
  - text: Alerts
    url: components/alerts.html
  - text: Avatar
    url: components/avatar.html
  - text: Breadcrumbs
    url: components/breadcrumbs.html
  - text: Buttons
    url: components/buttons.html
  - text: Dropdowns
    url: components/dropdowns.html
  - text: Forms
    url: components/forms.html
  - text: Labels
    url: components/labels.html
  - text: List Group
    url: components/list-group.html
  - text: Media Object
    url: components/media-object.html
  - text: Navbar
    url: components/navbar.html
  - text: Navs
    url: components/navs.html
  - text: Pagination
    url: components/pagination.html
  - text: Panels
    url: components/panels.html
  - text: Popovers
    url: components/popovers.html
  - text: Progress Bars
    url: components/progress-bars.html
  - text: Tables
    url: components/tables.html
  - text: Tooltip
    url: components/tooltip.html
  - text: Wells
    url: components/wells.html
- title: Patterns
  menuitems:
  - text: Table
    url: patterns/table.html
---

<div id="ecContainer">
  <div>
    <div>
      <div id="HEADERPANEL">
        <div class="objectContainer">
          <div id="placeholderHEADERPANEL">
            {% include header.html %}
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="LEFTPANEL">
        <div class="objectContainer">
          <div id="placeholderLEFTPANEL">
            {% include components/side-navigation/header.html %}
            <div class="content-scrollable">
              <div class="content-wrapper">
                {% include design-system/side-navigation.html %}
                {% include components/side-navigation/footer.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="MAINPANEL">
        <div class="objectContainer">
          <div id="placeholderMAINPANEL">
            {% include cirrus/breadcrumbs.html %}
            <div>
              <div class="content-wrapper">
                <main class="container-fluid full-screen">
                  {% include cirrus/heading.html %}
                  {{ content }}
                </main>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="RIGHTPANEL">
        <div class="objectContainer">
          <div id="placeholderRIGHTPANEL">
            <a class="btn btn-link" id="advance-search-close" type="button">
              <i class="fa fa-close"></i>
            </a>
            <p class="h5">Advance Search</p>
            <a class="btn btn-primary" href="">Apply Filter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>