---
layout: cirrus/default

side-menu-index: hr/people
side-menu-icon: users
side-menu-heading-title: People
side-menu:
- title: Corporate
  icon: building
  name: corporate
  sub-menu:
  - title:
    menuitems:
    - text: Position
      icon: user-2 
      url: corporate/position.html
    - text: New Position
      icon: user-plus
      url: corporate/new-position.html
    - text: Organisation
      icon: building
      url: corporate/organisation.html
    - text: Group
      icon: users 
      url: corporate/groups.html
- title: Life Cycle
  icon: cw-5
  name: life-cycle
  sub-menu:
  - title:
    menuitems:
- title: Personal
  icon: leaf-1
  name: personal
  sub-menu:
  - title:
    menuitems:
- title: Resume
  icon: note
  name: resume
  sub-menu:
  - title:
    menuitems:
- title: Employment
  icon: briefcase
  name: employment
  sub-menu:
  - title:
    menuitems:
- title: Payment
  icon: money-1
  name: payment
  sub-menu:
  - title:
    menuitems:
- title: Leave
  icon: calendar-2
  name: leave
  sub-menu:
  - title:
    menuitems:
- title: Time &amp; Attendance
  icon: stopwatch
  name: time-and-attendance
  sub-menu:
  - title:
    menuitems:
- title: Dashboard
  icon: gauge-1 
  name: dashboard
  sub-menu:
  - title:
    menuitems:

---

{{ content }}