---
layout: cirrus/default

side-menu-index: hr/recruitment
side-menu-icon: users
side-menu-heading-title: Recruitment
side-menu:
- title: Recruitment Requests
  icon: inbox-alt
  name: recruitment-requests
  sub-menu:
  - title:
    menuitems:
    - text: Create a Recruitment Request
      icon: pencil-1
      url: recruitment-request/create-a-recruitment-request.html
    - text: Recruitment Requests
      icon: inbox-alt
      url: 
    - text: New Positions Requests
      icon: plus-squared-1
      url: 
    - text: Submitted Requests
      icon: inbox-4 
      url: 
    - text: Saved Requests
      icon: icon-floppy 
      url: 
    - text: Service/Advertising Requests
      icon: megaphone-2 
      url: 
    - text: SEEK Export
      icon: export-alt 
      url: 
- title: Applicants
  icon: user-2
  name: applicants
  sub-menu:
  - title:
    menuitems:
- title: Management
  icon: certificate-2
  name: management
  sub-menu:
  - title:
    menuitems:
- title: Setup
  icon: database-2
  name: setup
  sub-menu:
  - title:
    menuitems:
- title: Manager
  icon: user-1
  name: manager
  sub-menu:
  - title:
    menuitems:
- title: Employee
  icon: person
  name: employee
  sub-menu:
  - title:
    menuitems:
- title: Employee Check
  icon: list
  name: employee-check
  sub-menu:
  - title:
    menuitems:
    - text: Add Applicant
      icon: user-plus
      url: 
    - text: Applicant Data
      icon: star-5
      url: 
    - text: Informed Consent Email
      icon: email
      url: 
    - text: CrimTrac Export File
      icon: download-3
      url: employee-check/crimtrac-export-file.html
    - text: CrimTrac Check Result
      icon: clipboard
      url: 
  - title: Setup
    menuitems:
    - text: CrimTrac Setup
      icon: cog-3
      url: 
---

{{ content }}