---
layout: bevchain/default

page-layout: blank

page-style: login
---

<main class="login-wrapper">
  <form class="login-form">
    {% include components/atoms/image.html
      class="login-brand"
      src="/App_Themes/ecBevChainEx/Images/logos/login-logo.png"
      alt=""
      width=""
      height="72"
    %}
    <div class="heading">
      <h1 class="heading-title h3">Sign In</h1>
      <p class="heading-subtitle">with your EmployeeConnect account</p>
    </div>
    <p class="text-muted">Enter your <b>Email or Username</b> and <b>Password</b></p>
    <fieldset class="form-group form-group-lg has-icon-left">
      <input class="form-control" type="text" name="" id="" placeholder="Email or Username">
      <span class="form-control-icon">
        <i class="ec-icon icon-user-2"></i>
      </span>
    </fieldset>
    <fieldset class="form-group form-group-lg has-icon-left">
      <input class="form-control" type="password" name="" id="" placeholder="Password">
      <span class="form-control-icon">
        <i class="ec-icon icon-key-1"></i>
      </span>
    </fieldset>
    <fieldset class="checkbox">
      <label><input type="checkbox">Rembember me</label>
    </fieldset>
    <div class="button-group">
      <a class="btn btn-success btn-lg btn-block" href="{{ site.baseurl }}/bevchain/home/">Login</a>
      <a class="btn btn-link btn-lg btn-block"  href="{{ site.baseurl }}/bevchain/forgot-password.html">Forgot Password?</a>  
    </div>
    <hr class="dashed">
    {% include components/atoms/image.html
      class=""
      src="/Images/powered-ec-logo.png"
      alt=""
      width=""
      height=""
    %}
    <hr class="dashed">
    <div class="row">
      <div class="col-xs-6 text-muted">EC6.1.0434</div>
      <div class="col-xs-6 text-muted text-right">v3.2.40</div>
    </div>
  </form>
</main>

<footer class="footer footer-inverse footer-bottom">
  <div class="container">
    <ul class="footer-nav">
      <li><a href="">EmployeeConnect</a></li>
      <li class="divider"></li>
      <li><a href="">Terms</a></li>
      <li class="divider"></li>
      <li><a href="">Privacy</a></li>
    </ul>
    <p class="footer-text">Copyright © EmployeeConnect Pty Ltd. <br/> All rights reserved.</p>
  </div>
</footer>