---
layout: cirrus/default

breadcrumbs: false
side-navigation-type: design-system

side-menu-index: design-system
side-menu-icon: cog-alt
side-menu-heading-title: Design System
side-menu:
- title: Foundations
  menuitems:
  - text: Color
    url: css/color.html
  - text: Iconography
    url: css/iconography.html
  - text: Typography
    url: css/typography.html
  - text: Utitlities
    url: css/utitlities.html
- title: Components
  menuitems:
  - text: Accordion
    url: components/accordion.html
  - text: Alerts
    url: components/alerts.html
  - text: Avatar
    url: components/avatar.html
  - text: Breadcrumbs
    url: components/breadcrumbs.html
  - text: Buttons
    url: components/buttons.html
  - text: Dropdowns
    url: components/dropdowns.html
  - text: Forms
    url: components/forms.html
  - text: Labels
    url: components/labels.html
  - text: List Group
    url: components/list-group.html
  - text: Media Object
    url: components/media-object.html
  - text: Navbar
    url: components/navbar.html
  - text: Navs
    url: components/navs.html
  - text: Pagination
    url: components/pagination.html
  - text: Panels
    url: components/panels.html
  - text: Popovers
    url: components/popovers.html
  - text: Progress Bars
    url: components/progress-bars.html
  - text: Tables
    url: components/tables.html
  - text: Tooltip
    url: components/tooltip.html
  - text: Wells
    url: components/wells.html
- title: Patterns
  menuitems:
  - text: Table
    url: patterns/table.html
---

{{ content}}