<div class="heading">
  <div class="media" style="margin-bottom: 16px;">
    <div class="media-left">
      {% include components/atoms/image.html
        class="img-circle media-object"
        src="/Images/avatar.png"
        alt=""
        width="96"
        height="96"
      %}
      <a class="btn btn-link btn-block btn-sm" href="">Change Photo</a>
    </div>
    <div class="media-content media-middle">
      <h1 style="margin-top: 0; margin-bottom: 0;" class="h3 heading-title">Jasper Lepardo</h1>
      <p class="heading-subtitle" style="margin-top: 0;">Senior UI/UX Designer, Product &amp; Engineering</p>
      <ul class="list-unstyled" style="margin-bottom: 12px; margin-top: 4px;">
        <li><span class="ec-icon icon-map" style="margin-right: 8px; width: 24px; text-align: center;"></span>148 P. Ferma St., Anuling Cerca I, Mendez-Nuñez, Cavite, Philippines - 4121</li>
        <li><span class="ec-icon icon-email" style="margin-right: 8px;width: 24px;text-align: center;"></span><a href="">jasper.lepardo@employeeconnect.com</a></li>
        <li><span class="ec-icon icon-phone-1" style="margin-right: 8px; width: 24px; text-align: center;"></span><a href="">0920 983 5937</a></li>
      </ul>
      <button class="btn btn-default" type="button">Edit Profile</button>
      <button class="btn btn-primary" type="button">More<span class="fa fa-caret-down" style="margin-left: 8px;"></span></button>
    </div>
  </div>
  {% include components/nav-menu-default-two.html %}
</div>