<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <button class="navbar-toggle ripple" data-ripple-color="#C6CDD7" type="button">
        <span style="margin: 6px 2px;display: block;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </span>
      </button>
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/home/">
          <img src="{{ site.baseurl }}/App_Theme/{{ layout.theme }}/Images/logos/header-logo.png" alt="">
        </a>
      </div>
      <div class="dropdown" id="navbar-user-menu">
        <a class="media ripple" data-toggle="dropdown" data-ripple-color="#C6CDD7" href="{{ site.baseurl }}/login.html">
          <div class="media-left">
            <img class="media-object img-circle" src="{{ site.baseurl }}/Images/avatar.png" width="32" height="32">
          </div>
          <div class="media-body media-middle">
            <span class="user-profile-name">Jasper Lepardo</span>
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href=""><i class="ec-icon icon-cog-alt"></i>Preferences</a></li>
          <li><a href=""><i class="ec-icon icon-help-3"></i>Help</a></li>
          <li><a href=""><i class="ec-icon icon-key-1"></i>Change Password</a></li>
          <li><a href="{{ site.baseurl }}/login.html"><i class="ec-icon icon-logout"></i>Sign Out</a></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right hidden visible-md" id="navbar-toolbar-menu">  
        <li>
          <a class="ripple" data-ripple-color="#C6CDD7" href="">
            <i class="ec-icon icon-pencil-1"></i>
          </a>
        </li>
        <li>
          <a class="ripple" data-ripple-color="#C6CDD7" href="">
            <i class="ec-icon icon-star-8"></i>
            <!-- <i class="ec-icon icon-plus"></i> -->
          </a>
        </li>
        <li>
          <a class="ripple" data-ripple-color="#C6CDD7" href="">
            <i class="ec-icon icon-bell-alt"></i>
            <!-- <span class="label label-primary">9</span> -->
          </a>
        </li>
        <li class="hidden">
          <a class="ripple" data-ripple-color="#C6CDD7" href="">
            <i class="ec-icon icon-star-8"></i>
            <!-- <span class="label label-primary">10</span> -->
          </a>
        </li>
      </ul>
      <a class="btn btn-link btn-block" id="main-navigation-toggle" href="#main-navigation" data-toggle="collapse">
        <span><i class="ec-icon icon-{{ layout.side-menu-icon }}"></i>{{ layout.side-menu-header }}</span><i class="fa fa-chevron-down"></i>
      </a>
      <nav class="navbar-collapse collapse" id="main-navigation">
        <ul class="nav navbar-nav navbar-left" id="navbar-main-menu">
          <li class="{% if 
            page.url contains '/home/' or
            page.url contains '/home/my-activities/newsfeed.html' or
            page.url contains '/home/my-activities/workflow/' or
            page.url contains '/home/my-activities/workflow/employee-termination-workflow-process.html' or
            page.url contains '/home/my-profile/' or
            page.url contains '/home/my-profile/background.html' or
            page.url contains '/home/my-profile/employment.html' or
            page.url contains '/home/my-profile/payroll.html' or
            page.url contains '/home/my-profile/development/' or
            page.url contains '/home/my-profile/history.html' or
            page.url contains '/home/my-profile/documents.html' or
            page.url contains '/home/personal/biographical.html' or
            page.url contains '/home/personal/personal-info-change-request.html' or
            page.url contains '/home/personal/name-change-request.html' or
            page.url contains '/home/personal/name-change-request.html' or
            page.url contains '/home/personal/emergency-contact.html' or
            page.url contains '/home/personal/dependants.html' or
            page.url contains '/home/personal/nationality.html' or
            page.url contains '/home/personal/medical.html' or
            page.url contains '/home/payment/pay-history.html' or
            page.url contains '/home/leave/apply-for-leave.html' or
            page.url contains '/home/performance/current-review.html'
            %} active {% endif %}">
            <a href="{{ site.baseurl }}/home/">
              <i class="ec-icon icon-home"></i>
              <span>Home</span>
            </a>
          </l>
          <li class="{% if 
            page.url contains '/manager/' or
            page.url contains '/manager/recruitment/managed-positions.html'
            %} active {% endif %}">
            <a href="{{ site.baseurl }}/manager/">
              <i class="ec-icon icon-user-1"></i>
              <span>Manager</span>
            </a>
          </li>
          <li class="dropdown {% if 
            page.url contains '/hr/people/' or
            page.url contains '/hr/people/corporate/position.html' or
            page.url contains '/hr/people/corporate/organisation.html' or
            page.url contains '/hr/people/corporate/groups.html' or
            page.url contains '/hr/recruitment/' or
            page.url contains '/hr/recruitment/recruitment-request/create-a-recruitment-request.html'
            %} active {% endif %}">
            <a href="" data-toggle="dropdown">
              <i class="ec-icon icon-users"></i>
              <span>HR</span>
            </a>
            <ul class="dropdown-menu">
              <li class="{% if 
                page.url contains '/hr/people/' or
                page.url contains '/hr/people/corporate/position.html' or
                page.url contains '/hr/people/corporate/organisation.html' or
                page.url contains '/hr/people/corporate/groups.html'
                %} active {% endif %}">
                <a href="{{ site.baseurl }}/hr/people/">People</a>
              </li>
              <li><a href="">Organisation</a></li>
              <li><a href="">Development</a></li>
              <li class="{% if 
                page.url contains '/hr/recruitment/' or
                page.url contains '/hr/recruitment/recruitment-request/create-a-recruitment-request.html'
                %} active {% endif %}">
                <a href="{{ site.baseurl }}/hr/recruitment/">Recruitment</a>
              </li>
              <li><a href="">Succession</a></li>
              <li><a href="">Performance</a></li>
              <li><a href="">Remuneration</a></li>
              <li><a href="">Safety</a></li>
              <li><a href="">Payroll</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown">
              <i class="ec-icon icon-chart"></i>
              <span>Reports</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">HR</a></li>
              <li><a href="">Manager</a></li>
            </ul>
          </li>
          <li class="dropdown {% if 
            page.url contains '/advanced/communication/' or
            page.url contains '/advanced/communication/engagement/summary-by-label.html' or
            page.url contains '/advanced/integration/' or
            page.url contains '/advanced/beta/' or
            page.url contains '/advanced/beta/library/iconography.html'
            %} active {% endif %}">
            <a href="" data-toggle="dropdown">
              <i class="ec-icon icon-cog-alt"></i>
              <span>Advanced</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">System Management</a></li>
              <li><a href="">Workflow</a></li>
              <li class="{% if 
                page.url contains '/advanced/communication/' or
                page.url contains '/advanced/communication/engagement/summary-by-label.html'
                %} active {% endif %}">
                <a href="{{ site.baseurl }}/advanced/communication/">Communication</a>
              </li>
              <li class="{% if 
                page.url contains '/advanced/integration/' or
                page.url contains '/advanced/integration/'
                %} active {% endif %}">
                <a href="{{ site.baseurl }}/advanced/integration/">Integration</a></li>
              <li><a href="">Developer Toolkit</a></li>
              <li><a href="">Custom Forms</a></li>
              <li><a href="">Change Log</a></li>
              <li class="{% if 
                page.url contains '/advanced/beta/' or
                page.url contains '/advanced/beta/library/iconography.html'
                %} active {% endif %}">
                <a href="{{ site.baseurl }}/advanced/beta/">Beta</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
