---
layout: cirrus/onboarding/content

heading-title: Personal Information
heading-subtitle: Let's start with the basics. Please complete the following new employee form and add your profile photo. This will ensure we have the most up-to-date information. It will also help us get you up and running quickly with the required paperwork.

prev-page: induction-checklist.html
next-page: emergency-contact.html
---

<form class="form-horizontal">

  <p class="lead">Personal</p>

  {% include components/molecules/select-field-horizontal.html 
    label="Salutation"
    name="salutation"
    placeholder="Select Salutation"
    list-value-name=site.data.list-value.salutation
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/full-name.html 
    label="Full Name"
    name="full-name"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/input-field-horizontal.html 
    label="Preferred Name"
    name="preferred-name"
    type="text"
    placeholder="Preferred Name (Optional)"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/birthday-select.html 
    label="Birthay"
    name="birthday"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/gender-select.html 
    label="Gender"
    name="gender"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/select-field-horizontal.html 
    label="Marital Status"
    name="marital-status"
    placeholder="Select Marital Status"
    list-value-name=site.data.list-value.marital-status
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/input-field-horizontal.html 
    label="Previous Name"
    name="previous-name"
    type="text"
    placeholder="Previous Name (If Applicable)"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  <!-- <fieldset class="form-group">
    <label class="col-sm-3 col-lg-2 control-label" for="">Government ID</label>
    <div class="col-sm-6 col-lg-5 col-xl-3">
      <input type="text" class="form-control" placeholder="Government ID">
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label class="col-sm-3 col-lg-2 control-label" for="">Tax ID</label>
    <div class="col-sm-6 col-lg-5 col-xl-3">
      <input type="text" class="form-control" placeholder="Tax ID">
    </div>
  </fieldset> -->

  <hr class="dashed" />

  <p class="lead">Address</p>

  {% include components/organisms/primary-address-form.html %}
  
  <hr class="dashed" />

  <p class="lead">Contact</p>

  <!-- <fieldset class="form-group">
    <label class="col-sm-3 col-lg-2 control-label" for="">Privacy</label>
    <div class="col-sm-6 col-lg-5 col-xl-3">
      <div class="btn-group" data-toggle="buttons" style="width: 100%;">
        <label class="btn btn-default active" style="width: 50%;">
          <input type="radio" name="privacy" value="Male" checked="">Public
        </label>
          <label class="btn btn-default" style="width: 50%;">
          <input type="radio" name="privacy" value="Female">Private
        </label>
      </div>
    </div>
  </fieldset> -->

  {% include components/molecules/input-field-horizontal.html 
    label="Home Phone"
    name="home-phone"
    type="tel"
    placeholder="Home Phone"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/input-field-horizontal.html 
    label="Mobile Phone"
    name="mobile-phone"
    type="tel"
    placeholder="Mobile Phone"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  {% include components/molecules/input-field-horizontal.html 
    label="Email Address"
    name="email-address"
    type="email"
    placeholder="Email Address"
    label-size="col-sm-4 col-lg-3 col-xl-2"
    input-size="col-sm-5 col-lg-4 col-xl-3"
  %}

  <hr class="dashed" />

  <div class="row">
    <div class="col-sm-3 col-md-2"></div>
    <div class="col-sm-6 col-lg-5 col-xl-3">
      <button type="submit" class="btn btn-primary btn-wide">Save</button>
    </div>
  </div>

</form>