<div id="diverseco-affiliates">
  <div class="col-xs-6 col-sm-3 col-lg-1 col-lg-offset-2">
    {% include components/atoms/image.html
      class="img-responsive"
      src="/App_Themes/ecDiversecoEx/Images/affiliates/accu-corp.png"
      alt=""
      width=""
      height=""
    %}
  </div>
  <div class="col-xs-6 col-sm-3 col-lg-1">
    {% include components/atoms/image.html
      class="img-responsive"
      src="/App_Themes/ecDiversecoEx/Images/affiliates/accu-weigh.png"
      alt=""
      width=""
      height=""
    %}
  </div>
  <div class="col-xs-6 col-sm-3 col-lg-1">
    {% include components/atoms/image.html
      class="img-responsive"
      src="/App_Themes/ecDiversecoEx/Images/affiliates/accu-onboard.png"
      alt=""
      width=""
      height=""
    %}
  </div>
  <div class="col-xs-6 col-sm-3 col-lg-1">
    {% include components/atoms/image.html
      class="img-responsive"
      src="/App_Themes/ecDiversecoEx/Images/affiliates/accu-pak.png"
      alt=""
      width=""
      height=""
    %}
  </div>
  <div class="col-xs-6 col-sm-3 col-lg-1">
    {% include components/atoms/image.html
      class="img-responsive"
      src="/App_Themes/ecDiversecoEx/Images/affiliates/scaco-can-do.png"
      alt=""
      width=""
      height=""
    %}
  </div>
  <div class="col-xs-6 col-sm-3 col-lg-1">
    {% include components/atoms/image.html
      class="img-responsive"
      src="/App_Themes/ecDiversecoEx/Images/affiliates/ultrahawke.png"
      alt=""
      width=""
      height=""
    %}
  </div>
  <div class="col-xs-6 col-sm-3 col-lg-1">
    {% include components/atoms/image.html
      class="img-responsive"
      src="/App_Themes/ecDiversecoEx/Images/affiliates/pwa.png"
      alt=""
      width=""
      height=""
    %}
  </div>
  <div class="col-xs-6 col-sm-3 col-lg-1">
    {% include components/atoms/image.html
      class="img-responsive"
      src="/App_Themes/ecDiversecoEx/Images/affiliates/rta.png"
      alt=""
      width=""
      height=""
    %}
  </div>
</div>
