---
layout: cirrus/advanced/design-system

heading-title: Avatar

page-menu:
- text: Code
  url: 
- text: Usage
  url: 
- text: Style
  url: 

---

<style>
  .table tbody tr td {
    vertical-align: middle;
  }
</style>

<table class="table table-lg">
  <thead>
    <tr>
      <th class="col-md-1">Size</th>
      <th class="col-md-3">Example</th>
      <th class="col-md-8">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>96px</td>
      <td>
        <img class="img-circle" src="https://dummyimage.com/96x96/c6cdd7/727272.jpg&text=JL" alt="" width="96" height="96">
      </td>
      <td>Use these large hero avatars in prominent positions on the page, like in user profiles.</td>
    </tr>
    <tr>
      <td>48px</td>
      <td>
        <img class="img-circle" src="https://dummyimage.com/48x48/c6cdd7/727272.jpg&text=JL" alt="" width="48" height="48">
      </td>
      <td>Use this avatar for main page titles, such as a user's account settings.</td>
    </tr>
    <tr>
      <td>32px</td>
      <td>
        <img class="img-circle" src="https://dummyimage.com/32x32/c6cdd7/727272.jpg&text=JL" alt="" width="32" height="32">
      </td>
      <td>Use for medium sized avatars, like in activity streams or comments.</td>
    </tr>
    <tr>
      <td>24px</td>
      <td>
        <img class="img-circle" src="https://dummyimage.com/24x24/c6cdd7/727272.jpg&text=JL" alt="" width="24" height="24">
      </td>
      <td>Use in containers or 40px text fields.</td>
    </tr>
    <tr>
      <td>16px</td>
      <td>
        <img class="img-circle" src="https://dummyimage.com/16x16/c6cdd7/727272.jpg&text=JL" alt="" width="16" height="16">
      </td>
      <td>Use in drop menu.</td>
    </tr>
  </tbody>
</table>