---
layout: cirrus/default

side-menu-index: advanced/beta
side-menu-icon: cog-alt
side-menu-heading-title: Beta
side-menu:
- title: Users
  icon: users 
  name: users
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: Status
  icon: play-5
  name: status
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: Configuration
  icon: cog-alt
  name: configuration
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: Group &amp; Roles
  icon: user-2
  name: group-and-roles
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: System
  icon: monitor
  name: system
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: Audit
  icon: search-8
  name: audit
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: Purge
  icon: rain
  name: purge
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:

---

{{ content }}
