---
layout: cirrus/default

side-menu-header: Communication

side-menu-icon: cog-alt

side-menu-index: advanced/communication

side-menu:
- title: Teams
  icon: users 
  name: teams
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: Messages
  icon: email
  name: messages
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: Publishing
  icon: publish
  name: publishing
  sub-menu: 
  - title: 
    menuitems: 
    - text: 
      icon: 
      url: 
- title: Survey
  icon: question
  name: survey
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: Recognition
  icon: trophy
  name: recognition
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: Engagement
  icon: heartbeat
  name: engagement
  sub-menu: 
  - title: 
    menuitems:
    - text: Survey Setup
      icon: tools
      url:
    - text: Run Engagement
      icon: tools
      url:
  - title: Results
    menuitems:
    - text: Engagement Dashboard
      icon: gauge-1 
      url:
    - text: Summary by Category
      icon: tag-4 
      url:
    - text: Summary by Label
      icon: tag-4 
      url: engagement/summary-by-label.html
    - text: Answer Detail
      icon: tools 
      url:
  - title: Filter
    menuitems:
    - text: Filter
      icon: filter-1
      url:
- title: Issue
  icon: list
  name: issue
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:

---

{{ content }}
