---
layout: cirrus/default

side-menu-index: advanced/integration
side-menu-icon: cog-alt
side-menu-heading-title: Integration
side-menu:
- title: Leave Process
  icon: calendar-2
  name: leave-process
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: Integration
  icon: link
  name: integration
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: Audit
  icon: search-8
  name: audit
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
- title: TFN
  icon: publish
  name: tfn
  sub-menu: 
  - title: 
    menuitems:
    - text: 
      icon: 
      url:
---

{{ content }}
