---
layout: design-system/default

heading-title: Label

page-menu:
- text: Code
  url: 
- text: Usage
  url: 
- text: Style
  url: 

---

<style>
  .table tbody tr td {
    vertical-align: middle;
  }
</style>

<table class="table">
  <thead>
    <tr>
      <th class="col-xs-2">Subtle</th>
      <th class="col-xs-2">Bold</th>
      <th class="col-xs-2">Color</th>
      <th class="col-xs-3">Description</th>
      <th class="col-xs-3">Uses</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="label label-default">Default</span></td>
      <td></td>
      <td>Gray</td>
      <td>Use for a general status or state.</td>
      <td>To do, unavailable, minor, not started</td>
    </tr>
    <tr>
      <td><span class="label label-primary">Primary</span></td>
      <td></td>
      <td>Blue</td>
      <td>For items that are in progress or that are current.</td>
      <td>In progress, open, modified</td>
    </tr>
    <tr>
      <td><span class="label label-success">Success</span></td>
      <td></td>
      <td>Green</td>
      <td>Use to celebrate a success.</td>
      <td>Available, done, approved, resolved, added</td>
    </tr>
    <tr>
      <td><span class="label label-info">Info</span></td>
      <td></td>
      <td>Violet</td>
      <td>Items in a new, created, or help state.</td>
      <td>New, information, help</td>
    </tr>
    <tr>
      <td><span class="label label-warning">Warning</span></td>
      <td></td>
      <td>Yellow</td>
      <td>Items that require attention.</td>
      <td>Busy, blocked, missing, warning</td>
    </tr>
    <tr>
      <td><span class="label label-danger">Danger</span></td>
      <td></td>
      <td>Yellow</td>
      <td>Indicates items that are problematic or removed.</td>
      <td>Errors, declined, failed, removed, critical</td>
    </tr>
  </tbody>
</table>