<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <meta name="application-name" content="EmployeeConnect"/>
    <meta name="msapplication-TileColor" content="#005C83" />

    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/Images/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/Images/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/Images/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/Images/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/Images/favicon/mstile-310x310.png" />

    <title>EmployeeConnect</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.baseurl }}/Images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/Images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/Images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/Images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.baseurl }}/Images/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/Images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/Images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/Images/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/Images/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/Images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/Images/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/Images/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/Images/favicon/favicon-128.png" sizes="128x128" />

    <!-- Pace JS -->
    <script src="{{ site.baseurl }}/Plugins/pace/js/pace.js"></script>
    <!-- Pace CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/Plugins/pace/css/pace.css">

    <!-- Fonts -->
    <!-- Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <!-- Font Icons -->
    <!-- EC Icon -->
    <link href="{{ site.baseurl }}/App_Theme/fonts/ec-icons/css/ec_web_fonts-embedded.css" rel="stylesheet">
    <!-- FontAwesome CDN -->
    <script src="https://use.fontawesome.com/832857ed6c.js"></script>        

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/App_Theme/employeeconnect.css">
    <!-- Styles CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/App_Theme/styles.css">

    <!-- Custom Themes CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/App_Theme/{{ layout.theme }}/css/custom-themes.css">
    <!-- Custom Styles CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/App_Theme/{{ layout.theme }}/css/styles.css">

    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/App_Theme/{{ layout.theme }}/css/{{ page.page-style }}.css">

    <!-- Plugins -->
    <!-- Bootstrap Slider - CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/Plugins/bootstrap-slider/css/bootstrap-slider.css">

    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">

  </head>

  <body>

    {{ content }}

    <!-- JQUERY -->
    <script src="{{ site.baseurl }}/Scripts/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="{{ site.baseurl }}/Scripts/bootstrap.min.js"></script>
    <!-- Global JS -->
    <script src="{{ site.baseurl }}/Scripts/functions.js"></script>
    <!-- Ripple JS -->
    <script src="{{ site.baseurl }}/Scripts/ripple.js"></script>

    <!-- Plugins -->
    <!-- Bootstrap Slider - JS -->
    <script src="{{ site.baseurl }}/Plugins/bootstrap-slider/js/bootstrap-slider.js"></script>
    
  </body>

</html>