---
layout: base

theme: ecCirrusEx
---

<div id="ecContainer">
  <div>
    <div>
      <div id="HEADERPANEL">
        <div class="objectContainer">
          <div id="placeholderHEADERPANEL">
            {% include header.html %}
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="LEFTPANEL">
        <div class="objectContainer">
          <div id="placeholderLEFTPANEL">
            {% include side-navigation-header.html %}
            <div class="content-scrollable">
              <div class="content-wrapper">
                {% include side-navigation.html %}
                <footer class="footer footer-inverse footer-bottom">
                  <div class="container">
                    <p class="footer-text">Copyright © EmployeeConnect Pty Ltd. <br> All rights reserved.</p>
                  </div>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="MAINPANEL">
        <div class="objectContainer">
          <div id="placeholderMAINPANEL">
            <div class="row" style="margin: 0;">
              <div class="col-md-6 col-lg-8" style="padding: 0;">
                <ol class="breadcrumb full-screen">
                  <li><a href="#">li a</a></li>
                  <li><a href="#">Link #2</a></li>
                  <li class="active">li.active</li>
                </ol>
              </div>
              <div class="col-md-3 col-lg-2" style="padding: 0;">
                <a class="btn btn-default btn-lg btn-block" href="">
                  <i class="ec-icon icon-pencil-1"></i> Edit Page
                </a>
              </div>
              <div class="col-md-3 col-lg-2" style="padding: 0;">
                <a class="btn btn-default btn-lg btn-block" href="">
                  <i class="ec-icon icon-star-8"></i> Add to Favorites
                  <!-- <i class="ec-icon icon-plus"></i>                 -->
                </a>
              </div>          
            </div>
            <main class="container-fluid full-screen">
              {{ content }}
            </main>
          </div>
        </div>
      </div>
      <div id="RIGHTPANEL">
        <div class="objectContainer">
          <div id="placeholderRIGHTPANEL">
            <a class="btn btn-link" id="advance-search-close" type="button">
              <i class="fa fa-close"></i>
            </a>
            <p class="h5">Advance Search</p>
            <a class="btn btn-primary" href="">Apply Filter</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="FOOTERPANEL">
        <div class="objectContainer">
          <div id="placeholderFOOTERPANEL">
            <footer class="footer footer-inverse">
              <div class="container-fluid full-screen">
                <p class="footer-text">Copyright © EmployeeConnect Pty Ltd. <br> All rights reserved.</p>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
