---
layout: base

theme: ecCirrusEx

side-menu-header: Onboarding

side-menu:
- text: Induction Checklist
  icon: doc-text
  url: /onboarding/induction-checklist.html
- text: Training Plan
  icon: map
  url: /onboarding/training-plan.html
- text: Personal Information
  icon: inbox-alt
  url: /onboarding/personal-information.html
- text: Emergency Contact
  icon: lifebuoy
  url: /onboarding/emergency-contact.html
- text: Tax Declaration
  icon: doc-text
  url: /onboarding/tax-declaration.html
- text: Banking
  icon: inbox-alt
  url: /onboarding/banking.html
- text: Superannuation
  icon: blind
  url: /onboarding/superannuation.html
- text: Medical
  icon: medkit
  url: /onboarding/medical.html
- text: Nationality &amp; Visas
  icon: globe-6
  url: /onboarding/nationality-and-visas.html
- text: Professional Membership
  icon: empire
  url: /onboarding/professional-membership.html
- text: Licence
  icon: cab
  url: /onboarding/licence.html
- text: Property
  icon: laptop
  url: /onboarding/property.html

---


<div id="ecContainer">
  <div>
    <div>
      <div id="HEADERPANEL">
        <div class="objectContainer">
          <div id="placeholderHEADERPANEL">
            {% include onboarding-header.html %}
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="LEFTPANEL">
        <div class="objectContainer">
          <div id="placeholderLEFTPANEL">
            {% include side-navigation-header.html %}
            <div class="content-scrollable">
              <div class="content-wrapper">
                {% include onboarding-side-navigation.html %}
                <footer class="footer footer-inverse footer-bottom">
                  <div class="container">
                    <p class="footer-text">Copyright © EmployeeConnect Pty Ltd. <br> All rights reserved.</p>
                  </div>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="MAINPANEL">
        <div class="objectContainer">
          <div id="placeholderMAINPANEL">
            <div class="row" style="margin: 0;">
              <div class="col-md-6 col-lg-8" style="padding: 0;">
                <ol class="breadcrumb full-screen">
                  <li><a href="#">li a</a></li>
                  <li><a href="#">Link #2</a></li>
                  <li class="active">li.active</li>
                </ol>
              </div>
              <div class="col-md-3 col-lg-2" style="padding: 0;">
                <a class="btn btn-default btn-lg btn-block" href="">
                  <i class="ec-icon icon-pencil-1"></i> Edit Page
                </a>
              </div>
              <div class="col-md-3 col-lg-2" style="padding: 0;">
                <a class="btn btn-default btn-lg btn-block" href="">
                  <i class="ec-icon icon-star-8"></i> Add to Favorites
                  <!-- <i class="ec-icon icon-plus"></i> -->
                </a>
              </div>
            </div>
            <div class="content-scrollable">
              <div class="content-wrapper">
                <main class="container-fluid full-screen">
                  <div class="heading">
                    <div class="row">
                      <div class="col-md-12 col-lg-9 col-xl-6">
                        <h1 class="heading-title h3">{{ page.heading-title }}</h1>
                        <p class="heading-subtitle">{{ page.heading-subtitle }}</p>
                      </div>
                      <div class="col-md-12 col-lg-3 col-xl-6 text-right">{{ page.heading-button }}</div>
                    </div>
                  </div>
                  {{ content }}
                </main>
                <footer class="footer footer-default footer-bottom">
                  <div class="container-fluid full-screen">
                    <div class="row">
                      <div class="col-xs-6 col-sm-3">
                        <a class="btn btn-default btn-lg btn-block" href="{{ site.baseurl }}/onboarding/{{ page.prev-page }}">Back</a>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-sm-push-6 text-right">
                        <a class="btn btn-default btn-lg btn-block" href="{{ site.baseurl }}/onboarding/{{ page.next-page }}">Next Step</a>
                      </div>
                    </div>  
                  </div>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="RIGHTPANEL">
        <div class="objectContainer">
          <div id="placeholderRIGHTPANEL">
            <a class="btn btn-link" id="advance-search-close" type="button">
              <i class="fa fa-close"></i>
            </a>
            <p class="h5">Advance Search</p>
            <a class="btn btn-primary" href="">Apply Filter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>